<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" >

     <bean id="caesarCipherBean" class="sk.matus.asos.cvicenie02uloha04.bean.cipher.CaesarCipher">
        <constructor-arg name="offset" value="5" />
     </bean>
    <bean id="aspectLoggerBean" class="sk.matus.asos.cvicenie02uloha04.bean.AspectLoggerBean">
        <constructor-arg ref="caesarCipherBean" />
    </bean>
    <bean id="service" class="sk.matus.asos.cvicenie02uloha04.bean.service.MessageServiceImpl" />
    <bean id="consumer" class="sk.matus.asos.cvicenie02uloha04.bean.consumer.MessageConsumerImpl" />
    <bean id="processor" class="sk.matus.asos.cvicenie02uloha04.bean.MessageProcessor">
        <constructor-arg ref="service" />
        <constructor-arg ref="consumer" />
    </bean>
    
    <aop:config>
        <aop:aspect id="aspect" ref="aspectLoggerBean">            
            <!--@Aroud-->
            <aop:pointcut id="pointCutAroundService" expression="execution(* sk.matus.asos.cvicenie02uloha04.bean.service.MessageService.getMessage(..))" />
            <aop:pointcut id="pointCutAroundConsumer" expression="execution(* sk.matus.asos.cvicenie02uloha04.bean.consumer.MessageConsumer.putMessage(String)) and args(message)" />
            
            <aop:around method="myAroundAdviceService" pointcut-ref="pointCutAroundService" />
            <aop:around method="myAroundAdviceConsumer" pointcut-ref="pointCutAroundConsumer" />
        </aop:aspect>
    </aop:config>
    
</beans>
